.top{
    margin-top: 50px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.clickable{
    cursor: pointer;
}

.btn-primary{
    margin-left: -75px;
    position: relative;
    z-index: 3;
}

.btn-primary:active{
    z-index: 3;
}

#text-box{
    z-index: 1;
}
.form-control:focus{
    z-index: 1;
}

.input-group{
    position: relative;
}
